{{template "main" .}}
{{define "content"}}
<form id="login-form" class="login-form" name="login-form">
    <h3>Sign in with existing or new credentials</h3>
    <input id="email" name="email" type="email" placeholder="jean@dupont.fr" required>
    <input id="password" name="password" type="password" placeholder="password" required>
    <button type="submit">Sign</button>
</form>
<div id="error"></div>
<script>
    const err = document.getElementById("error")
    const form = document.getElementById("login-form")
    const initialQuery = window.location.search;

    form.onsubmit = async (e) => {
        e.preventDefault()
        const formData = new FormData(form);
        const resp = await fetch('/api/login', {
            method: 'POST',
            body: new URLSearchParams({
                "email": formData.get("email"),
                "password": formData.get("password"),
            }),
        })
        if (resp.ok) {
            window.location.href = "/auth" + initialQuery;
            return
        }
         err.innerHTML = `${await resp.text()}`
    }
</script>
{{end}}